body {
    background: #eee url("../ravenna.png") 0% 0%;
}
.footer {
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 60px;
    line-height: 60px;
}
#map{
    height:60vh;
    width:100%;
}
.container {
    margin: 0px;
    padding: 0px;
}
#mainLogo {
    height: 60px;
    width: auto;
}
.locForm {
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 5px;
    background: rgba(255,255,255,0.9);
    margin-top: -180px;
}
.action-buttons {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 60px;
    width: 100%;
    text-align: center;
}
._searchResults {
    margin-top: 20px;
}
#_alertMessage {
    margin-top: 1rem;
    font-size: medium;
}
